*.exe
*.ilk
/bin/*.obj

*.idb
*.pdb
*.suo
*.ncb
*.user

/project/win32/Debug
/project/win32/Release
/project/win32/VTune
/project/win32/*.obj

/tools

*~
.*~
\#*\#
.\#*\#
.DS_Store
.project
.settings
