*.kdev4
*.exe
*.ilk
/bin/*.obj

*.idb
*.pdb
*.suo
*.ncb
*.user

/doc/html
/project/win32/Debug
/project/win32/Release
/project/win32/VTune
/project/win32/*.obj

/tools

*~
.*~
\#*\#
.\#*\#
.DS_Store
.project
.settings

Doxyfile
*.kdevelop
*.kdevelop.filelist
*.kdevelop.pcs
*.kdevses
tags
/bin/golovolomka

CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile