*.exe
*.ilk

*.idb
*.pdb
*.suo
*.ncb
*.user

/project/win32/Debug
/project/win32/Release
/project/win32/VTune

/tools/Direct3D/MeshFromOBJ/Debug
/tools/Direct3D/MeshFromOBJ/Release
/tools/Direct3D/MeshFromOBJ/VTune


*~
.*~
\#*\#
.\#*\#
.DS_Store
.project
.settings
